.guarantee-container{
    width: 100%;
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    gap: 10px;
}
.guarantee-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align-last: center;
}
.dark div{
    color: #fff;
}
.guarantee-container div span{
    color: #f8b400;
}

 /* Responsive Design */
 @media (max-width: 768px) {
   .guarantee-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-inline: 1rem;
   }
   .guarantee-container span{
    size: 20px;
   }
    }
  