/* HouseCard.css */
.house-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
  }
  
  .house-card img:hover {
    transform: scale(1.05);
  }
  
  .house-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .house-details {
    padding: 15px;
    text-align: center;
  }
  
  .house-details h3 {
    margin: 10px 0;
    font-size: 1.25rem;
  }
  .wishlist-icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px){
    .house-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      width: 350px;
    }
  }