.home {
  width: 100%;
  height:  100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure elements are aligned in a row */
    justify-content: space-between; 
    padding-inline: 10px;/* Add space between each image */
    gap: 10px; 
    margin-top: 3rem;/* Optional: Adds gap between the images */
  }

.image-card {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
  }
  
  .image-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
  }
  
  .image-card:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .image-card:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .text {
    color: #E1C158;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text h2 {
    font-size: 2em;
  }
  
  .text p {
    font-size: 1.2em;
  }
@media (max-width: 768px){
  .image-card {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
  }
  .home {
    width: 100%;
    height:  100%;
      display: flex;
      flex-direction: column; /* Ensure elements are aligned in a row */
      justify-content: space-between; 
      padding-inline: 10px;/* Add space between each image */
      gap: 10px; 
      margin-top: 3rem;/* Optional: Adds gap between the images */
    }
}
  