.container-reg {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5rem;
}

.register-section,
.login-section {
  padding: 2rem;
  width: 50%;
}

.register-section {
  border-right: 1px solid #ddd;
}

h2 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.regi[type="text"],
.regi[type="email"],
.regi[type="password"],
.regi[type="tel"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

a {
  color: #00332c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-group {
  position: relative;
  width: 100%;
}

.regi {
  width: 100%;
  padding-right: 40px; /* Add padding to the right to prevent text overlap */
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px; /* Adjust icon size if needed */
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #00332c;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #5bc8ba4b;
}

.login-btn {
  width: auto;
  padding: 0.75rem 2rem;
  background-color: #00332c;
  color: white;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-section p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container-reg {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  .register-section,
  .login-section {
    padding: 2rem;
    width: 100%;
  }
}
@media (max-width: 1280px) and (min-width: 800px) {
  .register-section,
  .login-section {
    padding: 2rem;
    width: 100%;
  }
  .container-reg {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}
