/* Slider.css */
.slider-wrapper {
  text-align: center; /* Center the header text */
  padding: 20px 0; /* Space around the slider section */
   /* Optional: background color for the section */
}

.dark .slider-header{
  color: #f8b400;
}
.slider-header {
  font-size: 28px; /* Adjust font size */
  font-weight: bold; /* Make the header bold */
  margin-bottom: 20px; /* Space between header and slider */
  color: #f8b400;
}

.slider-container {
  overflow: hidden; /* Hide overflow to create a clean infinite scroll */
  white-space: nowrap; /* Prevent line breaks */
  position: relative;
  width: 100%; 
  margin-top: 3rem;/* Adjust width as needed */
}
slider-header{
  text-align: center;
}



.slider-track {
  display: flex; /* Flex display to arrange items in a row */
  gap: 20px; /* Add space between slider items */
  transition: all 0.3s ease-in-out;
}

.slider-item {
  width: 400px;
  height: 200px;
  display: inline-block;
  text-align: center; /* Center the text */
  flex: 0 0 auto; /* Prevent items from shrinking */
  transition: transform 0.3s ease; 
  border-radius: 12px;
  margin: 10px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  /* Add some hover effect */
}



.slider-item img {
  width: 100%; /* Adjust this value to increase the size */
  height: 100%; /* Maintain aspect ratio or adjust as needed */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  transition: transform 0.3s ease-in-out; /* Smooth scaling on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: white !important;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  padding: 5px;
}

.overlay-icon {
  font-size: 3rem; /* Adjust icon size */
  margin-bottom: 10px;
  color: #f8b400;
}

.slider-item:hover .overlay {
  opacity: 1;
}

.slider-item p {
  margin-top: 10px;
  font-size: 14px; /* Adjust text size as needed */
  text-decoration: none;
  color: #222;
}

.slider-item:hover img {
  transform: scale(1.1);
  border-radius: 10px;
  border: 2px solid #fff; /* Slightly enlarge on hover */
}

  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  